@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* header i navbar */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}
body{
    background-color: #565656;
}
header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9DDA39;
}

header > h1{
    padding-left: 10px;
}

nav{
    flex-basis: 65%;
}

.navBar{
    list-style-type: none;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navBar > li{
    padding-left: 20px;
}
a{
    color: #000000;
}
/* main */
main{
    height: 85%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.slogan{
    color: white;
    padding: 50px 10px 5px 10px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slogan > h2
{
    letter-spacing: 1px;
    font-size: 40px;
}
.buttons{
    padding: 10px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons > a{
    margin: 6px;
    padding: 6px 10px;
    border: 1px solid #9DDA39;
    border-radius: 15px;
    background-color: #9DDA39;
    font-size: 10px;
}



